<%- include('partials/header.ejs') %>

<body>
    <nav>
        <div class="title-img"><img src="/images/logo.png" alt="title-img"></div>
        <div class="title-name">INWERO</div>
        <div class="navbar-links">
            <div><a href="#">Mieszkania</div>
            <div><a href="#">Domy</div>
            <div><a href="#">Realizacje</div>
            <div><a href="#">O firmie</div>
            <div><a href="#">Kontakt</div>

        </div>
    </nav>
</body>
</html>