<%- include('partials/header.ejs') %>

<body>
    <nav>
        <div class="title-img" id="title-name">
            <img src="/images/buildings.png" alt="title-img">&nbsp;&nbsp;INWERO</div>
        <div class="navbar-links">
            <div><a href="#">Mieszkania</a></div>
            <div><a href="#">Domy</a></div>
            <div><a href="#">Realizacje</a></div>
            <div><a href="#">O firmie</a></div>
            <div><a href="#">Kontakt</a></div>
        </div>
    </nav>
    <div class="slide-container">
            <div class="body-images">
                <img src="/images/previous.png" id="left">
                <img src="/images/1.jpg" class="current-img">
                <img src="/images/next.png" id="right">
            </div>
    </div>
    <div class="main-content">
        <div class="info">
            <h1>Aktualne Inwestycje</h1>
        </div>
        <div class="first-inv">
            <img src="/images/x.jpg">
            <h1>Osiedle Złota</h1>
            <div class="adress-info">
                <ul>
                    <li>ul.Tęczowa 2</li>
                    <li>14-300, Morąg</li>
                    <li>tel. 690-498-264</li>
                </ul>
                <p> - Z okien najwyżej położonych mieszkań w „Panoramie” będzie można obserwować rytm miasta bez wychodzenia z domu. Dzięki lokalizacji jest ono u naszych stóp.</p>
                <button class="button-inv">Zobacz Inwestycje</button>
            </div>
        </div>
        <div class="second-inv">
            <img src="/images/x2.jpg">
            <h1>Osiedle Tęczowa</h1>
            <div class="adress-info">
                <ul>
                    <li>ul.Tęczowa 2</li>
                    <li>14-300, Morąg</li>
                    <li>tel. 690-498-264</li>
                </ul>
                <p> - Z okien najwyżej położonych mieszkań w „Panoramie” będzie można obserwować rytm miasta bez wychodzenia z domu. Dzięki lokalizacji jest ono u naszych stóp.</p>
                <button class="button-inv">Zobacz Inwestycje</button>
            </div>
        </div>
        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    
    <script src="/js/slider.js"></script>
</body>
</html>